

<div class="w100">
  <mat-card>
    <h4 class="title">hola jhoan</h4>
    <div class="flex">
      <div class="w40 center">
        <mat-icon class="icon"> account_balance_wallet</mat-icon>
      </div>
      <div class="w40">
        <h4 class="center sub-title">Balance</h4>
        <p class="w100 center">$ 150.16</p>
          <div class="center w100">
            <button mat-raised-button  color="primary" (click)="open()" >transferir</button>
          </div>
      </div>
    </div>
  </mat-card>
</div>
