
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- <span>Paga To</span> -->
  <span class="ml-1" (click)="go('/board')" routerLink="" routerLinkActive="router-link-active" >Resumen</span>
  <span class="ml-1" (click)="go('/board/movimientos')" routerLinkActive="router-link-active" >Movimiento</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="out()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
