<div class="right" (click)="onNoClick()">
  <mat-icon>close</mat-icon>
</div>
<h1 mat-dialog-title class="title">{{data.title}}</h1>
<div mat-dialog-content class="flex col w80 center">
  <div class="input center">
    <mat-form-field class="input">
      <input matInput #de placeholder="Correo" >
    </mat-form-field>
  </div>
  <div class="input center">
    <mat-form-field class="input" >
      <input matInput #para placeholder="de:" >
    </mat-form-field>
  </div>
  <div class="input center">
    <mat-form-field class="input" >
      <input matInput #monto placeholder="monton" >
    </mat-form-field>
  </div>
<div mat-dialog-actions class="btn-content">
  <button mat-raised-button (click)="onNoClick()">CANCELAR</button>

  <button mat-raised-button [mat-dialog-close]="save(monto.value,para.value,de.value)" cdkFocusInitial>LISTO</button>
</div>
